<head>Header Title WIP</head>
<!-- name -->

      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
      <form action="/urls/register" method="GET">
        <input type="submit" value="Register">
      </form>
