<head>Header Title WIP</head>
<form action="/login" method="POST">
  name
  <!-- needtofix syntax? needs a type  -->
  <input type="text" name="login" placeholder="username">
  <input type="submit" value="Submit">
  <%=username %>
</form>
