<head>Header Title WIP</head>
<!-- name -->
<% if (!users) { %>
  <form action="/login" method="GET">
    <input type="submit" value="Login">
  </form>
  <form action="/register" method="GET">
    <input type="submit" value="Register">
  </form>
  <% } else { %>
    <br>
    <%= users.email %>
      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
      <% } %>
