<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - Error</title>
  <meta charset='utf-8'>
</head>


<body>
  <header>
    <b>
      <font size="5">TinyApp! - URL Shortener</font>
    </b>
  </header>
  <p>
    <b>
      <font size="4">
        <%= errHead %>
      </font>
    </b>
  </p>
  <p>
    <%= errBody %>
  </p>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>

</html>
