<header>
  <% include partials/_header %>
</header>

<body>
  <p>
    <%= shortURL %>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input id="editURL" type="text" name="editURL" placeholder="<%= longURL %>" value="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Edit">
      </form>
  </p>

</body>
