<header>
  <% include partials/_header %>
</header>

<body>
  <p>
    <form action="/register" method="POST">
      <input type="email" name="email" placeholder="Email address">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Register">
    </form>
  </p>

</body>
