<header>
  <% include partials/_header %>
</header>

<body>
  <p>
      <form action="/login" method="POST">
        <input type="email" name="login" placeholder="Email address">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
      </form>

  </p>

</body>
