<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - Login</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>
    <b>Login to TinyApp!</b>
    <form action="/login" method="POST">
      <input type="email" name="login" placeholder="Email address">
      <br><input type="password" name="password" placeholder="Password">
      <br><input type="submit" value="Login">
    </form>
  </p>

</body>

</html>
