<header>
  <% include partials/_header %>
</header>

<body>
  <p>
    <form action="/register" method="post">
      <input type="text" name="regUser" placeholder="Email address">
      <input type="text" name="regPass" placeholder="Password">
      <input type="submit" value="Register">
    </form>
  </p>

</body>
