<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - Register</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>
    <b>Register for a New Account</b>
  <form action="/register" method="POST">
      <input type="email" name="email" placeholder="Email address">
      <br><input type="password" name="password" placeholder="Password">
      <br><input type="submit" value="Register">
    </form>
  </p>

</body>

</html>
