<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
  <% include partials/_header %>
</header>

<body>
  <div class="container">
    <% if (users) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Shortened</th>
            <th>Full Link</th>
            <th></th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (const links in urls) { %>
            <tr>
              <td>
                <%- links %>
              </td>
              <td>
                <%= urls[links].longURL %>
              </td>
              <td>
                <a href="/urls/<%= links %>">Edit</a>
              </td>
              <td>
                <form method="POST" action="/urls/<%= links %>/delete">
                  <input type="submit" value="Delete" />
                </form>
              </td>
            </tr>
            <% } %>
              <tr>
                <td colSpan="2">
                  <a href="/urls/new">Shorten Link</a>
                </td>
              </tr>
        </tbody>
      </table>
      <% } else {%>
        <p>Please Login or Register</p>
        <% } %>
  </div>
</body>

</html>
